@font-face {
  font-family: "Lexend Exa";
  src: url("./assets/fonts/Lexend_Exa/LexendExa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/dm-sans-italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Boldonse";
  src: url("./assets/fonts/Boldonse/Boldonse-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

:root {
  --color-light: #FFFAF2;
  --color-dark: #1a1a1a;

  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);

  --font-logo: "Boldonse", "Lexend Exa", sans-serif;
  --font-bold: "Lexend Exa", sans-serif;
  --font-bold-secondary: "Lexend", sans-serif;
  --font-body: "DM Sans", sans-serif;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;

  --mobile-side-padding: var(--space-3);

  --shadow-light: 0px 0px 20px rgba(26, 26, 26, 0.4);
}

[data-theme="dark"] {
  --color-background: var(--color-dark);
  --color-foreground: var(--color-light);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16px;
  background: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
}

/* Typography */
.text-h1 {
  font-family: var(--font-bold);
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.text-h1--unbold {
  font-family: var(--font-bold);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

.text-h2 {
  font-family: var(--font-bold-secondary);
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: var(--font-body);
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}